<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
      Signature-level permission. It cannot be requested at runtime and must be
      granted over adb:
        adb shell pm grant com.shubhang.loophole android.permission.WRITE_SECURE_SETTINGS
    -->
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Loophole">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Loophole">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DevOptionsActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name=".widget.ToggleReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.shubhang.loophole.action.TOGGLE_DEV_MODE" />
                <action android:name="com.shubhang.loophole.action.TOGGLE_USB_DEBUG" />
                <action android:name="com.shubhang.loophole.action.TOGGLE_WIRELESS_DEBUG" />
            </intent-filter>
        </receiver>

        <service
            android:name=".DevModeTileService"
            android:exported="true"
            android:icon="@drawable/ic_dev_mode_tile"
            android:label="@string/tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".UsbDebugTileService"
            android:exported="true"
            android:icon="@drawable/ic_usb_tile"
            android:label="@string/usb_tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".WirelessDebugTileService"
            android:exported="true"
            android:icon="@drawable/ic_wireless_tile"
            android:label="@string/wireless_tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Widget 1: Developer Options Widget -->
        <receiver
            android:name=".widget.LoopholeWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_dev_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/loophole_widget_info" />
        </receiver>

        <!-- Widget 2: USB Debugging Widget -->
        <receiver
            android:name=".widget.UsbDebugWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_usb_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/usb_debug_widget_info" />
        </receiver>

        <!-- Widget 3: Wireless Debugging Widget -->
        <receiver
            android:name=".widget.WirelessDebugWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_wireless_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/wireless_debug_widget_info" />
        </receiver>

        <!-- Widget 4: All-in-One Multi Toggle Widget -->
        <receiver
            android:name=".widget.LoopholeComboWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_combo_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/loophole_combo_widget_info" />
        </receiver>
    </application>

</manifest>
